[Unit]
Description = clamd scanner daemon
After = syslog.target nss-lookup.target network.target

[Service]
Type = simple
PIDFile=/var/run/clamav/clamd.pid
ExecStartPre=-/usr/bin/mkdir -p /var/run/clamav
ExecStartPre=-/usr/bin/mkdir -p /var/lock/clamav
ExecStartPre=-/usr/bin/chown -R clamscan:clamscan /var/run/clamav
ExecStartPre=-/usr/bin/chown -R clamscan:clamscan /var/lock/clamav
ExecStart=/sbin/clamd 
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
